/Java/MathOperationPiortiy/nbproject/private/
/Java/MathOperationPiortiy/build/
/Java/Area of a Circle/nbproject/private/
/Java/Area of a Circle/build/
/Java/Simple Product/nbproject/private/
/Java/Simple Product/build/
/Java/Salary with Bonus/nbproject/private/
/Java/Salary with Bonus/build/
/Java/Distance Between Two Points/nbproject/private/
/Java/Distance Between Two Points/build/
/Java/Distance/nbproject/private/
/Java/Distance/build/